@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ADD8E6;
    color: white;
    font-size: 1.3em;
}
h1{
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    text-align: center;
}
section{
    margin: auto;
    background-color: #6e9baa;
    width: 400px;
    height: 150px;
    padding: 10px;
    color: black;
}
section#form{
    border-radius: 10px 10px 0px 0px;
}

section>form{
    text-align: left;
    margin-top: 20px;
}
section#img{
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    height: 50px;
}
.foto{
    margin: auto;
    width: 270px;
    height: 250px;
    margin-top: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}
div#img1{
    background-image: url(../imagens/nenemM.png);
    display: none;
}
div#img2{
    background-image: url(../imagens/nenemF.png);
    display: none;
}
div#img3{
    background-image: url(../imagens/criançaM.png);
    display: none;
}
div#img4{
    background-image: url(../imagens/criançaF.png);
    display: none;
}
div#img5{
    background-image: url(../imagens/adolescente.png);
    display: none;
}
div#img6{
    background-image: url(../imagens/jovemM.png);
    display: none;
}
div#img7{
    background-image: url(../imagens/jovemF.png);
    display: none;
}
div#img8{
    background-image: url(../imagens/homem.png);
    display: none;
}
div#img9{
    background-image: url(../imagens/mulher.png);
    display: none;
}
div#img10{
    background-image: url(../imagens/senhor.png);
    display: none;
}
div#img11{
    background-image: url(../imagens/senhora.png);
    display: none;
}
footer{
    text-align: center;
    padding: 10px;
}
footer>p>a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}
