@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #75939d;
    color: white;
    font-size: 1.3em;
}
h1{
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    text-align: center;
}
section{
    margin: auto;
    background-color: #7db0c1;
    width: 360px;
    height: 150px;
    padding: 10px;
    color: black;
}
section#form{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.573);
    line-height: 45px;
}

section>form{
    display: block;
    margin-top: 20px;
}
#idata{
    border: none;
    border-radius: 3px;
    font-size: .6em;
    padding: 5px;
}
#botao{
    display: block;
    font-size: .6em;
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -10px;
}
#botao:hover{
    background-color: #a9cfdc;
}
section#img{
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    height: 300px;
    display: none;

}
#txt{
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.671);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.573);
    text-align: center;
}

#detector{
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.foto{
    margin: auto;
    width: 270px;
    height: 250px;
    margin-top: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}
div#img1{
    background-image: url(../imagens/nenemM.png);

}
div#img2{
    background-image: url(../imagens/nenemF.png);
    display: none;
}
div#img3{
    background-image: url(../imagens/criançaM.png);
    display: none;
}
div#img4{
    background-image: url(../imagens/criançaF.png);
    display: none;
}
div#img5{
    background-image: url(../imagens/adolescente.png);
    display: none;
}
div#img6{
    background-image: url(../imagens/jovemM.png);
    display: none;
}
div#img7{
    background-image: url(../imagens/jovemF.png);
    display: none;
}
div#img8{
    background-image: url(../imagens/homem.png);
    display: none;
}
div#img9{
    background-image: url(../imagens/mulher.png);
    display: none;
}
div#img10{
    background-image: url(../imagens/senhor.png);
    display: none;
}
div#img11{
    background-image: url(../imagens/senhora.png);
    display: none;
}
footer{
    text-align: center;
    padding: 10px;
}
footer>p>a{
    font-size: .9em;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}
